SUBSYSTEM=="net", DRIVERS=="?*", ATTR{type}=="1", ACTION=="add", ATTR{address}=="1c:69:7a:0d:63:7b", NAME="eth0"
SUBSYSTEM=="net", DRIVERS=="?*", ATTR{type}=="1", ACTION=="add", ATTR{address}=="ac:e0:10:1d:e8:d9", NAME="wlan0"
SUBSYSTEM=="net", DRIVERS=="?*", ATTR{type}=="1", ACTION=="add", ATTR{address}=="94:e6:f7:7b:8f:22", NAME="wlan1"
